DoctorInterface/Logic/Connected Services/BlockChainApi/BlockChainApi2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceImplementation.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceImplementation.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SignRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="HashPrivateKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicianId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignRequest" nillable="true" type="tns:SignRequest" />
  <xs:complexType name="PatientsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Patients" nillable="true" type="tns:ArrayOfPatient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientsResponse" nillable="true" type="tns:PatientsResponse" />
  <xs:complexType name="ArrayOfPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatient" nillable="true" type="tns:ArrayOfPatient" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BsnNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateLastMutation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Housenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemsList" nillable="true" type="tns:ArrayOfContentItems" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Streetname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="ArrayOfContentItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentItems" nillable="true" type="tns:ContentItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentItems" nillable="true" type="tns:ArrayOfContentItems" />
  <xs:complexType name="ContentItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataBlockCount" type="xs:int" />
      <xs:element minOccurs="0" name="DateTimeMutation" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentItems" nillable="true" type="tns:ContentItems" />
  <xs:complexType name="LinkingPhysicianRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BsnNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinkingPhysicianRequest" nillable="true" type="tns:LinkingPhysicianRequest" />
  <xs:complexType name="DataItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataItem" nillable="true" type="tns:DataItem" />
  <xs:complexType name="ContentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentData" nillable="true" type="tns:ContentData" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="DataItemToStore">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataToStore" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataItemToStore" nillable="true" type="tns:DataItemToStore" />
</xs:schema>