DoctorInterface/Logic/Connected Services/BlockChainApi/BlockChainApi1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.170.151/BlockChainApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceImplementation.Model" />
  <xs:element name="SignPhysician">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceImplementation.Model" minOccurs="0" name="request" nillable="true" type="q1:SignRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignPhysicianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignPhysicianResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceImplementation.Model" minOccurs="0" name="GetAllPatientsResult" nillable="true" type="q2:PatientsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkPhysicianToPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceImplementation.Model" minOccurs="0" name="request" nillable="true" type="q3:LinkingPhysicianRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkPhysicianToPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LinkPhysicianToPatientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceImplementation.Model" minOccurs="0" name="request" nillable="true" type="q4:DataItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceImplementation.Model" minOccurs="0" name="GetContentDataResult" nillable="true" type="q5:ContentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceImplementation.Model" minOccurs="0" name="request" nillable="true" type="q6:DataItemToStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetContentDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>